* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", "Montserrat", sans-serif;
}

main {
  min-height: 60vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.app {
  background-image: url(./assets/images/bg-afternoon.jpg);
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app .snowy {
  background-image: url(./assets/images/bg-snowy.png);
}

.search-box {
  margin: 16px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.temp-box {
  text-align: center;
  margin: 40% 0;
}

.temp-box .temp {
  font-weight: bold;
  font-size: 99px;
  line-height: 114px;
  color: #ffffff;
}

.temp-box .weather-desc {
  font-weight: normal;
  font-size: 22px;
  line-height: 25px;
  color: #ffffff;
}

.weather-box {
  background-color: #ffffff;
  padding: 16px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  width: 40%;
}

.location {
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.air-pollution {
  margin: 40px 0;
}

.air-pollution__title {
  margin: 10px 0;
}
